$deepblueTron: #1d3e5f;
$eightiesPurple: #400e69;
$darkerPurple: #2d0c47;
$eightiesYellow: #f9c80e;
$eightiesPink: #ff4365;
$eightiesCyan: #2de2e6;
$eightiesOrange: #dd5800;
$eightiesBlue: #1d4b70;
$lighterEightiesBlue: rgb(63, 121, 168);
$buttonColor: #15283a;

$gray: rgb(231, 231, 231);
